$primary-color:#f4CF18;
$second-color:#1078AD;
$other-color:#96C5DC;
$tel-color:#369D53;













*{
text-decoration: none;
list-style-type: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}