
$primary-color:#f4CF18;
$second-color:#1078AD;
$Therd-color:#96C5DC;
$Fourth-color:rgb(131, 128, 128);
$Fifth-color:#369D53;


*{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Cairo', sans-serif;
    
    

}
