$first-color: #F4CF1B;
$second-color: hsl(200,91,68);
$third-color:#7F7F7F;
$fourth-Color: #FFFFFF;
$fifth-color: #000000;
$sixth-color: #369D53;
$seventh-color : #D0E5F0;
$eighth-color:#1078AD; 
$ninth-color: #96C5DC; 
$tenth-color: #1A519E ;
$eleventh-color: #787878;
$sizeFont: 30px;

@mixin flexBox {
    display: flex;
    justify-content: space-between;
}
@mixin button {
    padding: 0px 15px;
    border: 1.5px solid rgba($color: $blackColor, $alpha: .4);
    border-radius: 5px;
    i{
        color: $goldColor;
        font-size: 20px;
    }
    
}

*{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Cairo', sans-serif;
    

}

