body {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Cairo', sans-serif; }
    .Protection{
      text-align: center;
      width: 98vw;

      .protection__part4{

        margin:  2% auto;
    .protection__img{
       p{ text-align: center;  
        font-size: 17px; 
        color: #1A519E;
    }
}
      }

      h1{
          
          text-align: center;
          margin: 20px auto;
          max-width: 31%;
          color: #1078AD;
      }
      .protection__images{
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-left: 7%;
     width: 81%;
     text-align: center;
    p{
        text-align: center;  
        font-size: 17px; 
        color: #1A519E;
    }
  .protection__part1{
       text-align: center;
       width: 30%;
   }
}
     

    }









     

    