body{
    margin:0px;
    padding: 0px;
font-size: 1rem;
line-height: 1.6;
font-family: 'Cairo', sans-serif;

}
*{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Cairo', sans-serif;

}



.preambule {

    text-align: center;
    display: block;

    &__content {

        width: 80vw;
        margin: 10px auto 20px auto;
        background-color: $ninth-color;
        border-radius: 5px;
        padding-bottom: 20px;


        .preambule__title {
            color: $eighth-color;
            margin: 0;

        }

        .preambule__parag {
            width: 70vw;
            margin: auto;

        }

        .preambule__border {
            border-bottom: 2px solid $first-color;
            width: 20vw;
            margin: 10px auto;


        }
    }

    &__link {
        background-color: $eighth-color;
        border: none;
        color: $fourth-Color;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 1.2em;
        cursor: pointer;
        border-radius: 2px;

    }
}

/* ----------------------------------------------------------- End preambule --------------------------------------------------------------- */


/* ----------------------------------------------------------- test1 --------------------------------------------------------------- */

.test1 {

    // display: none;

    &__quest1 {
        width: 50vw;
        margin: auto;
        font-size: 1.5em;
        color: $eleventh-color;
        margin-bottom: 30px;
        text-align: left;

    }

    &__content {

        text-align: left;
        width: 60vw;
        margin: auto;
        font-size: 1.2em;

        .test1__info {
            background-color: $first-color;
            color: $fifth-color;
            padding: 10px 10px;
            border-radius: 2px;
            font-size: 1.2em;
        }

        .buttons {

            display: flex;
            justify-content: space-between;

            .test1__precedante {

                background-color: $eighth-color;
                border: none;
                color: $fourth-Color;
                padding: 15px 20px;
                text-decoration: none;
                font-size: 1.2em;
                cursor: pointer;
                border-radius: 2px;

            }

            .test1__suivante {
                background-color: $eighth-color;
                border: none;
                color: $fourth-Color;
                padding: 15px 20px;
                text-decoration: none;
                font-size: 1.2em;
                cursor: pointer;
                border-radius: 2px;


            }
        }


    }


    
}

/* ----------------------------------------------------------- End test1--------------------------------------------------------------- */


/* ----------------------------------------------------------- input --------------------------------------------------------------- */




input {
    font-size: 1.2em;
    padding: 6px 0;
    color: $eighth-color;
    border: 3px solid $eighth-color;
    width: 15vw;
    font-size: 1.2em;
}

/*-------------------------------------------------------- result ---------------------------------------------------------------------------*/


#result {
  
    text-align: center;
    width: 50vw;
    margin: auto;
  
&__test {
   
    background-color: $eighth-color;
   
   padding: 10px 16px;
   color: $first-color;
   border-radius: 6px;
}    
   
&__btns {
display: flex;
justify-content: space-between;

    #result__btn {
   
        background-color: $eighth-color;
        border: none;
        color: $fourth-Color;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 1.2em;
        cursor: pointer;
        border-radius: 2px;
        margin-top: 20px;
    }
}


}





        
        /*-----------------------------------TEST 4---------------------------------*/
        /*--------------------------------TEST 5-----------------------------------*/
        /*-----------------------------------TEST 6-------------------------------*/
        /*----------------------------------TEST 7-------------------------------*/
        /*--------------------------------TEST 8--------------------------------*/
        /*-------------------------------TEST 9--------------------------------*/
        /*--------------------------------TEST 10-----------------------------*/
        /*---------------------------------TEST 11---------------------------*/
        /*-------------------------------TEST 12----------------------------*/
        /*-----------------------------TEST 13-----------------------------*/
        /*-------------------------------TEST 14--------------------------*/
        /*-------------------------------TEST 15---------------------------------*/
        /*--------------------------------TEST 17-------------------------------*/
        /*-------------------------------TEST 18-------------------------------*/
        /*-------------------------------TEST 19------------------------------*/
        /*-------------------------------TEST 20-----------------------------*/
        /*--------------------------------TEST 21---------------------------*/
        /*--------------------------------TEST 23--------------------------*/
        /*--------------------------------TEST 24-------------------------*/
        /*--------------------------------TEST 25-------------------------*/
        /*-----------------------------TEST 26---------------------------*/
        /*------------------------------TEST 27-------------------------*/
        /*----------------------------TEST 28--------------------------*/
        /*---------------------------TEST 29--------------------------*/
        /*------------------------TEST 30----------------------------*/