body{
    margin:0px;
    padding: 0px;
font-size: 1rem;
line-height: 1.6;
font-family: 'Cairo', sans-serif;

}
*{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Cairo', sans-serif;

}


.test1__Quest1{

    margin: auto;
    font-size: 1.2em;
    text-align: left;
    width: 42vw;
    margin-bottom: 30px;
    color:#787878;

    
    .test1__info{
          
        background-color: #F4CF1B;
        color: black;

    }

}
.test1__contenu{
         
    text-align: left;
    width: 65vw;
    margin: auto;
     
    .test1__info{
        background-color: #F4CF1B;
        color: black;
        padding: 20px 10px ;
        border-radius: 6px;
     
        }
    }
        .test1__nextquest{
              
            background-color:#1078AD ;
            color: white;
            padding: 10px 44px;
           text-decoration: none;
           border: none;
           font-size: 18px;
           cursor: pointer;
           border-radius: 6px;



        }
 