body {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Cairo', sans-serif; }


    .transmission{
        .transmission__part{ 
       display: flex;
       justify-content: space-around;
          text-align: center;      
       color: #1A519E;
       padding: 15px 138px;
             }

    h1{
    text-align: center;
    color: #1078AD;

    }











    }